body {
	background: url('../img/low_contrast_linen.png');
}

h1 {
	color: #e18728;
	font-family: 'Inconsolata';
	margin-top: 0;
}

.align-left { float: left; }
.align-right { float: right; }

.tagline {
	margin-top: 5px;
	margin-right: 8px;
	font-size: 25px;
}

.header {
	margin-top: 10px;
}

p {
	font-family: 'Inconsolata';
	color: #ddd;
}

a {
	color: #ddd;
}

a:hover {
	color: #fff;
}

.tooltip.bottom > .tooltip-inner {
	font-family: 'Inconsolata';
	color: #1d1f21;
	background-color: #fff;
	white-space: pre;
	max-width: none;
}

.tooltip.bottom > .tooltip-arrow {
	border-bottom-color: #fff;
}

.icons {
	text-align: center;
}

.icon-col {
	margin-left: -13px;
}

.icon-img-container > .tooltip.bottom {
	margin-top: 13px;
}

.space-60 { height: 60px; }
.space-30 { height: 30px; }
.space-15 { height: 15px; }

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

.everything {
	width: 640px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.business-card {
	background-color: #1d1f21;
	padding: 3px 20px;
}

#face-img {
	height: auto;
}

.orange-bar {
	position: relative;
	height: 1px;
	width: 0px;
	background-color: #e18728;
}

.orange-bar-bottom {
	margin-top: -1px;
}

.orange-bar-bottom-container {
	float:right;
}