body {
	background: url('../img/low_contrast_linen.png');
}

h1 {
	color: #e18728;
	font-family: 'Inconsolata';
	margin: .67em 0;
}

p {
	font-family: 'Inconsolata';
	color: #ddd;
}

a {
	color: #ddd;
}

a:hover {
	color: #fff;
}

.tooltip.bottom > .tooltip-inner {
	font-family: 'Inconsolata';
	color: #1d1f21;
	background-color: #fff;
	white-space: pre;
	max-width: none;
}

.tooltip.bottom > .tooltip-arrow {
	border-bottom-color: #fff;
}

.icons {
	text-align: center;
}

.icon-col {
	margin-left: -13px;
}

.icon-img-container > .tooltip.bottom {
	margin-top: 13px;
}

.space-60 { height: 60px; }
.space-30 { height: 30px; }
.space-15 { height: 15px; }

.align-left { float: left; }
.align-right { float: right; }

.tagline {
	margin-top: 35px;
	margin-right: 8px;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.container {
	display: table-cell;
	vertical-align: middle;
}

.business-card {
	background-color: #1d1f21;
	padding: 3px 20px;
}

#face-img {
	height: auto;
}